<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="firstFormat" value="jpg"/>
    <add key="lastFormat" value="png"/>

    <add key="nameFile" value="D:\All\C#\Projects_kurses\BulkThumbnaill\Images"/>

    <add key="sizeW" value="220"/>
    <add key="sizeH" value="250"/>

    <add key="fileTranformName" value="D:\All\C#\Projects_kurses\BulkThumbnaill\The_formatted_images_Name"/>
    <add key="fileTranformSize" value="D:\All\C#\Projects_kurses\BulkThumbnaill\The_formatted_images_Size"/>

  </appSettings>
</configuration>